<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Your go-to platform for tracking dividend payouts and histories of companies on the NYSE and NASDAQ markets."
    />
    <title>Dividend Tracker - Track Dividend History and Payouts</title>
    <link rel="stylesheet" href="/public/styles/index.css" />
  </head>
  <body>
    <header class="homepage-header">
      <div class="header-content">
        <img src="logo.png" alt="Site Logo" class="logo" />
        <h1>Dividend Tracker</h1>
      </div>
      <p>
        Welcome to Dividend Tracker! Stay updated with the latest dividend
        payouts and histories of top companies traded on the NYSE and NASDAQ
        markets.
      </p>
    </header>

    <section class="main-content">
      <h2>Explore Dividend Information for Leading Companies</h2>
      <p>
        Our platform provides comprehensive data on dividend payouts, upcoming
        dividends, and company histories, making it easier for you to track your
        investments.
      </p>

      <div class="dividends-summary">
        <h2>Why Track Dividends?</h2>
        <p>
          Dividends provide a reliable source of passive income for investors.
          With our platform, you can monitor the dividend histories and upcoming
          payouts of the companies you care about, ensuring you make informed
          investment decisions.
        </p>
      </div>

      <h2>Popular Companies</h2>
      <div class="related-companies">
        <a href="/aapl">
          <div>
            <img src="/public/imgs/company-logo/aapl.png" alt="Apple" />
            <span>Apple Inc.</span>
          </div>
        </a>

        <a href="/t">
          <div>
            <img src="/public/imgs/company-logo/t.png" alt="AT&T" />
            <span>AT&T Inc.</span>
          </div>
        </a>

        <a href="/cvx">
          <div>
            <img src="/public/imgs/company-logo/cvx.png" alt="Chevron" />
            <span>Chevron Corporation</span>
          </div>
        </a>

        <a href="/ko">
          <div>
            <img src="/public/imgs/company-logo/ko.png" alt="Coca-Cola" />
            <span>Coca-Cola Co.</span>
          </div>
        </a>

        <a href="/xom">
          <div>
            <img src="/public/imgs/company-logo/xom.png" alt="Exxon Mobil" />
            <span>Exxon Mobil Corporation</span>
          </div>
        </a>

        <a href="/jnj">
          <div>
            <img
              src="/public/imgs/company-logo/jnj.png"
              alt="Johnson & Johnson"
            />
            <span>Johnson & Johnson</span>
          </div>
        </a>

        <a href="/msft">
          <div>
            <img src="/public/imgs/company-logo/msft.png" alt="Microsoft" />
            <span>Microsoft Corporation</span>
          </div>
        </a>

        <a href="/pg">
          <div>
            <img
              src="/public/imgs/company-logo/pg.png"
              alt="Procter & Gamble"
            />
            <span>Procter & Gamble Co.</span>
          </div>
        </a>

        <a href="/pep">
          <div>
            <img src="/public/imgs/company-logo/pep.png" alt="PepsiCo" />
            <span>PepsiCo, Inc.</span>
          </div>
        </a>

        <a href="/vz">
          <div>
            <img src="/public/imgs/company-logo/vz.png" alt="Verizon" />
            <span>Verizon Communications Inc.</span>
          </div>
        </a>
      </div>
    </section>

    <footer class="footer">
      <p>&copy; 2024 Dividend Tracker. All Rights Reserved.</p>
    </footer>
  </body>
</html>
