{{define "footer"}}
<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <a href="/about">About</a>
        <a href="/privacy">Privacy Policy</a>
      </div>
    </div>

    <p>
      The information provided on DividendSpot is for informational and
      educational purposes only. It should not be considered financial or
      investment advice. DividendSpot does not make recommendations or offer
      personalized investment guidance. Always do your own research and consult
      with a qualified financial advisor before making investment decisions.
    </p>
  </div>
</footer>
{{end}}
