{{define "head"}}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{.Head.Title}}</title>

  <meta property="og:title" content="{{.Head.Title}}" />

  <meta property="og:url" content="https://dividendspot.com/privacy" />
  <meta property="og:url" content="https://dividendspot.com/privacy" />
  <meta property="og:type" content="website" />

  <link rel="canonical" href="https://dividendspot.com/privacy" />

  <link rel="stylesheet" href="/public/css/global.css" />
  {{if .Head.Styles}} {{range .Head.Styles}}
  <link rel="stylesheet" href="{{.Link}}" />
  {{end}} {{end}}

  <script
    defer
    src="https://cloud.umami.is/script.js"
    data-website-id="6c725d77-ef0a-4eb6-a302-9659249e8278"
  ></script>
  <link
    rel="icon"
    type="image/png"
    href="/public/favicon-96x96.png"
    sizes="96x96"
  />
  <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
  <link rel="shortcut icon" href="/public/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/public/apple-touch-icon.png"
  />
</head>
{{end}}
