@page "/about"
@model AboutPage

<h1>Our Focused Mission
</h1>

<p>DividendSpot gives you exactly what you came for—pure, straightforward dividend data. No fluff, no distractions, just
  fast, clear payout history.
</p>

<div>Made by <a href="https://awoldt.dev" target="_blank" rel="noopener noreferrer">Awoldt</a></div>
