@page "/about"
@model AboutPage

<h1>Our Focused Mission
</h1>

<div style="max-width: 750px;">
  <p>DividendSpot gives you exactly what you came for—pure, straightforward dividend data. No fluff, no distractions,
    just
    fast, clear payout history.
  </p>

  <p>Whether you're a long-term investor or just dividend-curious, our mission is to serve clean, reliable data that
    respects your time.</p>
</div>
