@page "/about"
@model AboutPage

@section Meta {
  <title>About DividendSpot</title>
  <meta name="description"
    content="Our site was created to show nothing but dividend data for all your favorite assets" />
}

<div style=" text-align: center">
  <h1>Our Focused Mission
  </h1>
  <p>DividendSpot gives you exactly what you came for—pure, straightforward dividend data. No fluff, no distractions,
    just
    fast, clear payout history.
  </p>

  <p>Whether you're a long-term investor or just dividend-curious, our mission is to serve clean, reliable data that
    respects your time.</p>

  <p>We believe in keeping your experience fast, clean, and focused. That’s why our site doesn’t display ads — to reduce
    page load times and eliminate distractions. Our priority is providing you with content that’s seamless,
    non-intrusive, and respectful of your time.</p>
</div>
