@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
}

@section Meta {
    <title>DividendSpot – Public Companies, ETFs & Funds Dividends</title>
    <meta name="description"
        content="Accurate and up-to-date dividend data for publicly traded companies, ETFs, and funds." />
    <meta name="keywords" content="dividends, dividend data, ETFs, funds, publicly traded companies, dividend tracker" />

    <meta property="og:title" content="DividendSpot – Public Companies, ETFs & Funds Dividends" />
    <meta property="og:description"
        content="Accurate and up-to-date dividend data for publicly traded companies, ETFs, and funds." />
    <meta property="og:url" content="https://dividendspot.com/" />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="DividendSpot – Public Companies, ETFs & Funds Dividends" />
    <meta name="twitter:description"
        content="Accurate and up-to-date dividend data for publicly traded companies, ETFs, and funds." />
}


<header class="main-header">
    <div class="container">
        <h1>Reliable, up-to-date dividend insights</h1>
        <p class="subtitle">Your source for clear, accurate, and up-to-date dividend investment data. Explore upcoming
            payouts, recent declarations, and top-performing dividend stocks.</p>
        <p class="subtitle">We support a wide range of asset types, including Common Stock, Preferred Stock, Exchange
            Traded Funds
            (ETFs), Exchange Traded Vehicles, American Depository Receipts (Common and Preferred), Funds, Ordinary
            Shares, Global Depository Receipts, New York Registry Shares, and Single-security ETFs.</p>

        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <partial name="_Search" />
        </div>


    </div>
</header>

<section class="popular-stocks-section">
    <h2 class="section-title">Popular Dividend Stocks</h2>
    <p>
        These companies are known for strong financials and a proven history of paying dividends consistently, making
        them popular choices for income-focused investors
    </p>

    <div class="company-cards-grid">
        <a href="/mmm" class="company-card">
            <img src="/imgs/company-logo/mmm.png" alt="3M Company Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">3M Company</span>
                <span class="company-card-ticker">(MMM)</span>
            </div>
        </a>
        <a href="/t" class="company-card">
            <img src="/imgs/company-logo/t.png" alt="AT&T Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">AT&T Inc.</span>
                <span class="company-card-ticker">(T)</span>
            </div>
        </a>
        <a href="/abbv" class="company-card">
            <img src="/imgs/company-logo/abbv.png" alt="AbbVie Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">AbbVie Inc.</span>
                <span class="company-card-ticker">(ABBV)</span>
            </div>
        </a>
        <a href="/abt" class="company-card">
            <img src="/imgs/company-logo/abt.png" alt="Abbott Laboratories Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Abbott Laboratories</span>
                <span class="company-card-ticker">(ABT)</span>
            </div>
        </a>
        <a href="/aapl" class="company-card">
            <img src="/imgs/company-logo/aapl.png" alt="Apple Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Apple Inc.</span>
                <span class="company-card-ticker">(AAPL)</span>
            </div>
        </a>
        <a href="/adm" class="company-card">
            <img src="/imgs/company-logo/adm.png" alt="Archer-Daniels-Midland Company Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Archer-Daniels-Midland Company</span>
                <span class="company-card-ticker">(ADM)</span>
            </div>
        </a>
        <a href="/cat" class="company-card">
            <img src="/imgs/company-logo/cat.png" alt="Caterpillar Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Caterpillar Inc.</span>
                <span class="company-card-ticker">(CAT)</span>
            </div>
        </a>
        <a href="/cvx" class="company-card">
            <img src="/imgs/company-logo/cvx.png" alt="Chevron Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Chevron Corporation</span>
                <span class="company-card-ticker">(CVX)</span>
            </div>
        </a>
        <a href="/cl" class="company-card">
            <img src="/imgs/company-logo/cl.png" alt="Colgate-Palmolive Company Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Colgate-Palmolive Company</span>
                <span class="company-card-ticker">(CL)</span>
            </div>
        </a>
        <a href="/ko" class="company-card">
            <img src="/imgs/company-logo/ko.png" alt="The Coca-Cola Company Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">The Coca-Cola Company</span>
                <span class="company-card-ticker">(KO)</span>
            </div>
        </a>
        <a href="/duk" class="company-card">
            <img src="/imgs/company-logo/duk.png" alt="Duke Energy Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Duke Energy Corporation</span>
                <span class="company-card-ticker">(DUK)</span>
            </div>
        </a>
        <a href="/xom" class="company-card">
            <img src="/imgs/company-logo/xom.png" alt="Exxon Mobil Corp. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Exxon Mobil Corp.</span>
                <span class="company-card-ticker">(XOM)</span>
            </div>
        </a>
        <a href="/gd" class="company-card">
            <img src="/imgs/company-logo/gd.png" alt="General Dynamics Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">General Dynamics Corporation</span>
                <span class="company-card-ticker">(GD)</span>
            </div>
        </a>
        <a href="/hd" class="company-card">
            <img src="/imgs/company-logo/hd.png" alt="Home Depot, Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Home Depot, Inc.</span>
                <span class="company-card-ticker">(HD)</span>
            </div>
        </a>
        <a href="/ibm" class="company-card">
            <img src="/imgs/company-logo/ibm.png" alt="International Business Machines Corp. Logo"
                class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">International Business Machines Corp.</span>
                <span class="company-card-ticker">(IBM)</span>
            </div>
        </a>
        <a href="/jnj" class="company-card">
            <img src="/imgs/company-logo/jnj.png" alt="Johnson & Johnson Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Johnson & Johnson</span>
                <span class="company-card-ticker">(JNJ)</span>
            </div>
        </a>
        <a href="/kmb" class="company-card">
            <img src="/imgs/company-logo/kmb.png" alt="Kimberly-Clark Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Kimberly-Clark Corporation</span>
                <span class="company-card-ticker">(KMB)</span>
            </div>
        </a>
        <a href="/lmt" class="company-card">
            <img src="/imgs/company-logo/lmt.png" alt="Lockheed Martin Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Lockheed Martin Corporation</span>
                <span class="company-card-ticker">(LMT)</span>
            </div>
        </a>
        <a href="/low" class="company-card">
            <img src="/imgs/company-logo/low.png" alt="Lowe's Companies, Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Lowe's Companies, Inc.</span>
                <span class="company-card-ticker">(LOW)</span>
            </div>
        </a>
        <a href="/mcd" class="company-card">
            <img src="/imgs/company-logo/mcd.png" alt="McDonald's Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">McDonald's Corporation</span>
                <span class="company-card-ticker">(MCD)</span>
            </div>
        </a>
        <a href="/msft" class="company-card">
            <img src="/imgs/company-logo/msft.png" alt="Microsoft Corp. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Microsoft Corp.</span>
                <span class="company-card-ticker">(MSFT)</span>
            </div>
        </a>
        <a href="/nee" class="company-card">
            <img src="/imgs/company-logo/nee.png" alt="NextEra Energy, Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">NextEra Energy, Inc.</span>
                <span class="company-card-ticker">(NEE)</span>
            </div>
        </a>
        <a href="/o" class="company-card">
            <img src="/imgs/company-logo/o.png" alt="Realty Income Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Realty Income Corporation</span>
                <span class="company-card-ticker">(O)</span>
            </div>
        </a>
        <a href="/pep" class="company-card">
            <img src="/imgs/company-logo/pep.png" alt="PepsiCo, Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">PepsiCo, Inc.</span>
                <span class="company-card-ticker">(PEP)</span>
            </div>
        </a>
        <a href="/pg" class="company-card">
            <img src="/imgs/company-logo/pg.png" alt="Procter & Gamble Co. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Procter & Gamble Co.</span>
                <span class="company-card-ticker">(PG)</span>
            </div>
        </a>
        <a href="/so" class="company-card">
            <img src="/imgs/company-logo/so.png" alt="Southern Company Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Southern Company</span>
                <span class="company-card-ticker">(SO)</span>
            </div>
        </a>
        <a href="/tgt" class="company-card">
            <img src="/imgs/company-logo/tgt.png" alt="Target Corporation Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Target Corporation</span>
                <span class="company-card-ticker">(TGT)</span>
            </div>
        </a>
        <a href="/txn" class="company-card">
            <img src="/imgs/company-logo/txn.png" alt="Texas Instruments Incorporated Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Texas Instruments Incorporated</span>
                <span class="company-card-ticker">(TXN)</span>
            </div>
        </a>
        <a href="/vz" class="company-card">
            <img src="/imgs/company-logo/vz.png" alt="Verizon Communications Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Verizon Communications Inc.</span>
                <span class="company-card-ticker">(VZ)</span>
            </div>
        </a>
        <a href="/wmt" class="company-card">
            <img src="/imgs/company-logo/wmt.png" alt="Walmart Inc. Logo" class="company-card-logo">
            <div class="company-card-info">
                <span class="company-card-name">Walmart Inc.</span>
                <span class="company-card-ticker">(WMT)</span>
            </div>
        </a>
    </div>
</section>
