{{define "companyHero"}}

<section class="company-hero">
  {{if gt .CurrentPrice.Price 0.0}}
  <div class="price-change">
    <span class="price">${{printf "%.2f" .CurrentPrice.Price}}</span>
    {{if gt .CurrentPrice.Change 0.0}}
    <span class="change up">
      +{{printf "%.2f" .CurrentPrice.Change}} ({{printf "%.2f"
      .CurrentPrice.ChangePercent}}%)
    </span>
    {{else if lt .CurrentPrice.Change 0.0}}
    <span class="change down">
      {{printf "%.2f" .CurrentPrice.Change}} ({{printf "%.2f"
      .CurrentPrice.ChangePercent}}%)
    </span>
    {{else}}
    <span class="change flat">
      {{printf "%.2f" .CurrentPrice.Change}} ({{printf "%.2f"
      .CurrentPrice.ChangePercent}}%)
    </span>
    {{end}}

    <div class="last-updated">Price last updated {{.CurrentPrice.UpdatedAt}}</div>
  </div>

  {{end}} {{if .HasCompanyLogo}}
  <div class="company-logo">
    <img
      src="/public/imgs/logos/{{.Ticker}}.png"
      alt="{{.Name}} company logo"
    />
  </div>
  {{end}}

  <div class="company-headings">
    <h1>{{.Name}} <span class="ticker">({{.Ticker}})</span></h1>
    {{if .Description}}
    <p class="company-tagline">{{.Description}}</p>
    {{end}}
  </div>
</section>

{{end}}
