{{define "dividendChart"}} {{if gt (len .Dividends) 0}}
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById("myChart");

    // for each paydate, just return an empty string for the label
    // also loop backwards as first bar needs to be oldest dividend
    const labels = []
    const data = []
    for (let i = {{.Dividends}}.length-1; i >= 0; i--) {
      labels.push("")
      data.push({{.Dividends}}[i].cash_amount)
    }


   new Chart(ctx, {
    type: "bar",
    data: {
      labels,
      datasets: [
        {
          data,
          backgroundColor: "rgba(59, 130, 246, 0.6)",
          borderWidth: 0
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          grid: { display: false },
          ticks: { display: false }
        },
        y: {
          grid: { display: false },
          ticks: {
            callback: function(value) {
              return "$" + value;
            }
          }
        }
      },
      plugins: {
        legend: { display: false }
      }
    },
  });
</script>
{{end}} {{end}}
